.rangeCopyWrapper {
  width: 800px;
  height: 100%;
  margin: 16px auto;
}

.rangeCopyWrapper .optContent {
  margin-bottom: 8px;
}

.rangeCopyWrapper .optContent button + button {
  margin-left: 8px;
}

.rangeCopyWrapper .tableContent {
  user-select: none;
}

.rangeCopyWrapper .tableContent :global(.ant-table-cell) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
